        <!-- subheader begin -->
        <section id="subheader" class="page-about no-bottom" data-stellar-background-ratio="0.5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>About Us
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix"></div>


        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <ul class="side-nav">
                                <li class="active"><a href="about.html">Company</a></li>
                                <li><%= link_to "Principles", principles_path %></li>
                                <li><%= link_to "Culture", culture_path %></li>
                                <li><%= link_to " Software Principles", software_path %></li>
                                <li><%= link_to "Careers", careers_path %></li>
                                <li><%= link_to "FAQ", faq_path %></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <h2>Plex The Company</h2>
                        <div class="divider-deco"><span></span></div>
                    
                        <h3>We are a group of thinkers</h3>
                        <h5>
                            
                        </h5>
                        <p>
                            Plex is made up of thinkers that solve complex problems everyday in the name of our core mission: to compile professional standsards, liberal arts, and engineering into platforms that are useful to our users, clients, and the world. But what makes Plex truly unique is a workplace culture that encourages innovation and a willingness to fail when experimenting with big ideas. 
                        </p>

                        <i>“For our reporting products, we change the world one client at a time through extraordinary analytics.”</i>

                    
                        <div class="divider-double"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Mission &amp; Focus</h2>
                                <div class="divider-deco"><span></span></div>
                                <h4>Mission</h4>
                                Plex’s mission is to compile professional standards, liberal arts, and engineering, into platforms that are useful to users, clients, and the world. 
							
							<h4>Current Focus</h4>
                                Because our mission is so vast in scope, our focus tends to migrate. For now, we are concentrating on the following three issues: Sustainability, profitability, and big data analytics. We see these as pressing matters to organizations, people, and the world. As our understanding changes, so too will our focus. 

                            </div>

                            <div class="col-md-6">
                                <h2>The Name</h2>
                                <div class="divider-deco"><span></span></div>
                                The name Plex is actually an acronym of our core mission, and was chosen for this reason. We believe that true innovation happens when multiple disciplines collbaroate. In our case, professional standards, liberal arts, and engineering and technology. We also beleive that any play in innovation requires space for the unknown, or x (to solve). 
                                <br>
                                <br>
							
							<ul class="icon-list arrow">
                                <li>P - Professional Standards</li>
                                <li>L - Liberal Arts </li>
                                <li>E - Engineering & Technology</li>
                                <li>X - Unknown (to solve)</li>

                            </ul>
                            </div>

                            <div class="divider-single"></div>

                          
                        </div>

                        <div class="divider-single"></div>

                        <div class="box-padding-30 bg-1 light-text">
                            <div class="inner-padding">

                                <h2 class="id-color">Plex </h2>
                                <div class="tiny-border"></div>
                                <p class="lead big">
                                    <i>
                                    “To us, a future where sustainability is integral to every organization's decision making process sounds like a step in the right direction.”
                                    to achieve it</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content close -->

       
