<!-- subheader begin -->
        <section  class="careers" data-stellar-background-ratio="0.5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="careers-type">I want to...</h3>
                            <div class="box-type">
                                <div class="type-wrap title-careers">
                                <div class="typed-strings">
                                    <p>Work on things that matter</p>
                                    <p>Change the world</p>
                                    <p>Save our planet</p>
                                    <p>Cure diseases</p>
                                    <p>Build platforms that change lives</p>
                                </div>
                                <span class="typed"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix"></div>


        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <ul class="side-nav">
                                 <li><a href="about.html">Company</a></li>
                                <li><%= link_to "Principles", principles_path %></li>
                                <li><%= link_to "Culture", culture_path %></li>
                                <li><%= link_to " Software Principles", software_path %></li>
                                <li  class="active"><%= link_to "Careers", careers_path %></li>
                                <li><%= link_to "FAQ", faq_path %></li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="col-md-8">
                        <h2>Careers</h2>
                
                        <p>
                            Plex will always be an engineering focused company. By this we mean, folks with the technical expertise combined with those that have an aptitude for product delivery. We look for people with a broad set of skills who are ready to change the world. At Plex, we use engineering and technology to create platforms that serve our core <%= link_to "mission", about_path %>. We want to build solutions that speak to solving big problems. 
                        </p>
                        <p>
                            At the top of Plex's principles is: "Focus on the user." Therefore, we work to hire folks that share this same passion. Knowing technical specifications is just the beginning -- application is where the art happens. Your work is an expression of you, and that's how we approach projects. 
                        </p>

                        <p>
                            We want to work with people who are smart and determined. We look for talent not experience which helps to facilitate an ever growing mix of new ideas. At Plex, everyone is an artist. The tools each of use to express our creativity vary with disposition—some use data, others use code.  Although Plex Artists share common goals and visions for the company, we hail from all walks of life. </p>

                        <br>
                        <br>
                        <p class="testimonial">
                            With all creative arts, the most effective way to become a master is to imitate the mind-set of masters — not just intellectually but emotionally as well.
                            <br>
                            <br>
                            Or, as the following modern Zen poem has it:
                            <br>
                            <br>
                                To follow the path: <br>
                                look to the master, <br>
                                follow the master, <br>
                                walk with the master, <br>
                                see through the master, <br>
                                become the master.
                        </p>

                        <div class="divider-single"></div>
                

                        <div class="divider-double"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2>What we look for</h2>
                                <div class="divider-deco"><span></span></div>
                                <h4>Passion</h4>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi 
							
							     <h4>Critical thinking</h4>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                            </div>

                            <div class="col-md-6">
                                <h2>What to show us</h2>
                                <div class="divider-deco"><span></span></div>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio
							
							<ul class="icon-list arrow">
                                <li>Aenean sollicitudin, lorem quis bibendum auctor, nisi</li>
                                <li>Duis sed odio sit amet nibh vulputate cursus a sit </li>
                                <li>Class aptent taciti sociosqu ad litora torquent per </li>
                                <li>Sed non  mauris vitae erat consequat auctor eu in elit</li>
                                <li>Proin gravida nibh vel velit auctor aliquet. Aenean </li>
                                <li>Class aptent taciti sociosqu ad litora torquent per </li>
                            </ul>
                            </div>

                            <div class="divider-single"></div>

                            <div class="col-md-6">
                                <h2>Our Objective</h2>
                                <div class="divider-deco"><span></span></div>

                                <ul class="icon-list arrow">
                                    <li>Aenean sollicitudin, lorem quis bibendum auctor, nisi</li>
                                    <li>Duis sed odio sit amet nibh vulputate cursus a sit </li>
                                    <li>Class aptent taciti sociosqu ad litora torquent per </li>
                                    <li>Sed non  mauris vitae erat consequat auctor eu in elit</li>
                                    <li>Proin gravida nibh vel velit auctor aliquet. Aenean </li>
                                    <li>Class aptent taciti sociosqu ad litora torquent per </li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <h2>Our Values</h2>
                                <div class="divider-deco"><span></span></div>
                                <p>Benean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio </p>
                                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>


                            </div>
                        </div>

                        <div class="divider-single"></div>

                        <div class="box-padding-30 bg-1 light-text">
                            <div class="inner-padding">

                                <h2 class="id-color">Gocargo Commitment</h2>
                                <div class="tiny-border"></div>
                                <p class="lead big">
                                    <i>We are commited to be the leading logistic solutions provider to our customer. We continually improving & implementing  a quality management
to achieve it</i>
                                </p>
                                <img src="img/signature.png" alt="">
                                <div class="divider-single"></div>
                                <strong>John Rukman</strong>, Vice President<br>
                                Gocargo Inc						
								<br>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- content close -->

       
