

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <li class="sidebar-brand">    
                  <!-- <%= image_tag 'gx.png', height: '30' %>-->
                  <%= image_tag 'bird.png',height: '50', id:'bird' %>
                </li>
                <li>
                    <div class="box-1">
                     <i class="material-icons md-48 white" id="search-icon">search</i>
                    </div>
                </li>
                <li>
                    <div class="box-1">
                        <i class="material-icons md-48 white" id="apps-icon">mode_comment</i>
                    </div>
                </li>
                <li>
                    <div class="box-1">
                         <i class="material-icons md-48 white" id="apps-icon">desktop_windows</i>
                    </div>
                </li>
                <li>
                    <div class="box-1">
                        <i class="material-icons md-48 white" id="apps-icon">perm_contact_calendar</i>
                    </div>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container">
           <div class="index-section">
                    <div class="col-md-10 pull-right" >
                        <%= form_tag search_items_path, method: :get, role: "search" do %>
                        <%= text_field_tag :search, params[:search], class: "form-control", id: "gri_search", :placeholder => "Search Public Companies, or GRI Items",  :autofocus => true %>
                        <%= submit_tag "Search", name: nil, class: "btn btn-default", id: "search_button" %>
                        <% end %>     
                        <br>
                        <br>
                        <div class="type-wrap title big">
                            <div class="typed-strings">
                                <p>Data Analytics at <span id="scale">Scale</span></p>
                                <p>Sustainability <span id="scale">Analytics</span></p>
                                <p>Cognitive <span id="scale">Solutions</span></p>
                            </div>
                            <span class="typed"></span>
                        </div> 
                       
                       <div class="row">  
                        <div class="col-md-3" id="video-1">
                             
                         <div class="stats-bar-1">   
                            <div class="stats-title pull-left">
                                <h4>Participant Activity</h4>
                            </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-share fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h3 class="m-b-xs">2,310</h3>
                        <span class="font-bold no-margins">
                            Total
                        </span>
                        <div class="progress m-t-xs full progress-small">
                                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>
                    
                                <div class="col-xs-6">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>7.80</h4>
                                </div>

                                <div class="col-xs-6">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>76.43%</h4>
                                </div>
                            </div>
                        </div> 
                            <%= image_tag 'ring-load.gif', id: 'blue-loader' %>
                        </div>
                         <div class="col-md-3" id="video-2">
                             <%= image_tag 'ring-load.gif', id: 'blue-loader-2' %>
                         <div class="table-responsive">
                            <div class="stats-title pull-left">
                            <h4>Apps</h4>
                        </div>
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>
                                        <span><i class="material-icons white" >search</i></span>
                                    </td>
                                    <td>
                                        <span>Company Search</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <i class="material-icons white">mode_comment</i>
                                    </td>
                                    <td>
                                        <span>Talent Feedback</span>
                                    </td>
                       
                                </tr>
                                <tr>
                                    <td>
                                        <i class="material-icons white">desktop_windows</i>
                                    </td>
                                    <td>
                                        <span>Dashboard</span>
                                    </td>
                              
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>

                        <div class="col-md-3" id="video-3">
                            <a class="btn-custom-light" href="#">Learn More</a>
                             <a class="btn-custom" href="#">Get Started</a>
                        </div>
                    </div> <!-- index-section -->
                 <div class="row">
                    <div class="col-md-3 pull-right" id="go-plex">
                       <%= image_tag 'anglex.png', height: '50', id: 'go-plex-logo' %> 
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
            
     <div class="products-index">
                    
    </div>
        
        <!-- section close -->
        <div class="clearfix"></div>
         <!-- FEATURES -->
        <section id="features" class="gray-bg">
            <div class="container">
                <div class="row">
                    <div id="features-tabs" class="features-tabs">
                        <!-- FEATURES TABS -->
                        <ul class='tabs'>
                            <li class='tab col-md-4'><a href="#features-tab1"><span class="triangle"><span class="inner-triangle"></span></span>Desktop Version</a></li>
                            <li class='tab col-md-4'><a href="#features-tab2"><span class="triangle"><span class="inner-triangle"></span></span>Mobile Version</a></li>
                            <li class='tab col-md-4'><a href="#features-tab3"><span class="triangle"><span class="inner-triangle"></span></span>Tablet Version</a></li>
                        </ul>
                        <!-- END FEATURES TABS -->
                    </div>
                </div>
            </div>
        </section>
        <!-- END FEATURES -->
	
			<!-- section begin -->
            <section id="components" class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="callout-text">
                                <h2>Analytics on an epic scale</h2>
                                <h4>Plex is helping to address changes to our climate with platforms that help manage your sustainability</h4>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-md-6">
                            <h3 class="m-t-xxxl"><strong>Employee Engagement</strong></h3>
                                 <p>
                                    Your employees are your true assets. You need to care for them, and work to understand their needs. Plex Talent asks your employees the right questions to understand their engagment. </p>
                                <p>
                                    The quality of an organization’s human resources is perhaps the leading indicator of its growth and sustainability. The attainment of a workplace with high-caliber employees starts with the selection of the right people for the right jobs. </p>
                        
                        </div>
                        <div class="col-md-6">
                            <%= image_tag "s2.png", class: "wow fadeIn" %>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row m-t-xl">
                        <div class="col-md-6">
                            <%= image_tag "s4.png", class: "img-responsive" %>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <h3 class="m-t-xxl"><strong>Sustainability Metrics</strong></h3>
                            <p>At Plex, we’re working with organizations to leave a lasting legacy that benefits all of humanity. That’s why we’re building platforms that help you conserve more, use less, source more responsible materials, and find better ways to work and be a leading voice.</p>
                            <p>With Plex sustainability metrics, not only do we help you to track how you impact our climate, but we help you to benchmark against those in your industry and asset class.</p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row  m-t-xl">
                        <div class="col-md-6">
                            <h3 class="m-t-xxl"><strong>Economic Impact</strong></h3>
                            <p>We’re taking a close look at how to place an organizations economic, social and environmental sustainability at the center of their strategy. Plex uses all three of these components to influence economic performance while making decisions that have a positive impact on our world.</p>
                        </div>
                        <div class="col-md-6">
                            <%= image_tag "s1.png", class: "img-responsive" %>
                        </div>
                    </div>
                    <div class="row m-t-xl">
                        <div class="col-md-6">
                            <%= image_tag "s3.png", class: "img-responsive" %>
                    </div>
                    <br>
                        <div class="col-md-6">
                            <h3 class="m-t-xxl"><strong>Social Data</strong></h3>
                            <p>Plex wants our users (many of which are large organizations) to value their global relationships, but understand that change happens on the local level. Plex helps companies actively track their resources, time, talents, materials and leadership to tackle entrenched issues like education and environment.</p>
                        </div>
                    </div>
                </div>
            </section>



                    </div>
                </div>
            </div>

        </div>


</body>
</html>
