<!DOCTYPE html>
<html>
<head>
  <title>Plex Analytics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js" %>

</head>
<body>
	 <div id="preloader"></div>
    <div id="wrapper">
        <!-- header begin -->
        <header>
            <% if !@color %>
                   <div class="color-line"></div>
            <% end %>
                <div class="container">
                    <span id="menu-btn"></span>
                    <div class="row">
                  

                    <div class="col-md-9">
                        
                        <!-- mainmenu begin -->
                        <nav id="mainmenu-container">
                            <ul id="mainmenu">
                                <li><%= link_to "Services", services_path %>
                                    <ul>
                                        <li><%= link_to "Data Analytics", data_analytics_path %></a></li>
                                        <li><%= link_to "Profitability", profitability_path %></li>
                                        <li><%= link_to "Sustainability Analytics", sustainability_path %></li>
                                        <li><%= link_to "Research", research_path %></li>
                                    </ul>
                                </li>
                                <li><%= link_to "Industries", industries_path %></li>
                                <li><%= link_to "About Plex", about_path %></li>
                                <li><a href="track.html">Participants</a></li>
                                <li><%= link_to "Contact", contact_path %></li>
                                <li class="signin"><%= link_to "Sign in", root_path %></li>
                            </ul>  
                        </nav>
                        <!-- mainmenu close -->

                        <!-- social icons -->
                        <div class="social">

                            <%= link_to "Sign in", "#", class: "btn-custom-log" %>
                           
                            <!--<a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>



               <!--<ul>
        <li><%= link_to (image_tag "plextalent.png", class: "talent-app"), gri_items_path %></li>
        <li id="app-name"><%= link_to "GRI Index", gri_items_path %></li>
        </ul>
        <ul>
        <div class="app-box">
        <li><%= image_tag "plexproduct.png", class: "main-app" %></li> 
        <li id="app-name">Dashboard</li>
        </div>
        </ul>
        <ul>
        <li><%= image_tag "plextalent_app.png", class: "main-app" %></li> 
        <li id="app-name">Talent</li>
        </ul>-->
        </div>
    </header>

       
        <!-- header close -->   

<%= yield %>

        <!-- footer begin -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="divider"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="spacer-single"></div>
                        &copy; Copyright 2015 - Plex Analytics Limited
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>
</body>
</html>
